body {
  font-family: "Yu Gothic Medium",YuGothic,"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size: 15px;
  letter-spacing: .1em;
  color: #333;
  overflow: hidden;
}

a {
  color: #333;
  transition: opacity .3s;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 レイアウト
---------------------------------*/

.container {
  margin: 0 auto;
  padding: 0;
}

.wrapper {
  position: absolute;
  width: 100%;
}



/*--------------------------------
 見出し
---------------------------------*/
.title {
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  letter-spacing: .1em;
  color: #333;
}

.lead {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 30px;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  font-family: Futura PT,"Yu Gothic Medium",YuGothic,"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  position: fixed;
  bottom: 1%;
  left: 2%;
}

.gnav-list {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  list-style: none;
}

.gnav-item {
  width: 100%;
  height: 100vh;
  padding-top: 30px;
  font-family: Futura PT,"Yu Gothic Medium",YuGothic,"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size: 2.5em;
  font-weight: 100;
  letter-spacing: 0.2em;
  line-height: 1.7em;
  text-align: center;
  border-right: solid 1px;
  transition: all  0.1s ease;
}


a.gnav-item:hover {
  background: #ff3186;
}



/*--------------------------------
 ページトップ
---------------------------------*/

.page-top .material-icons-outlined {
  vertical-align: bottom;
  color: #fff;
}

.works-ttl {
  font-size: 8em;
}

a.works-ttl {
  text-decoration: underline;
}

a.works-ttl:hover {
  background: #161616;
  color: #7fc6c8;
}

ul {
  list-style: none;
}

li {
  display: inline;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 30px;
  background: #fff;
}

.copyright {
  font-size: 11px;
  text-align: center;
  color: #797979;
}

.arrow {
  background: transparent;
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.arrow-left ,.arrow-right {
  display: inline-block;
  background: transparent;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}

.arrow-left {
  transform: rotate(-135deg);
}

.arrow-right {
  transform: rotate(45deg);
}

/*--------------------------------
 問い合わせ
---------------------------------*/

.contact {
 width:50px;
 padding: 7px;
 border:solid 1px #000;
 border-radius: 100%;
 position: absolute;
 right: 5%;
 bottom: 1%;
}

.contact:hover {
  background: #ff3186;
 }

/*--------------------------------
 スライド
---------------------------------*/
/* *,body,ul {
  margin: 0;
  padding: 0;
} */
/* li {
  list-style: none;
} */
/* ↓ スライドの外枠 */
.slide-wrapper {
  width: 100%;
  height: 300px;
  position: absolute;
  z-index: 2;
  top: 40%;
}
/*  ↓ スライド（コンテンツ） */
.slide { /*スライド全体 */
  width: 300%;
  height: 100%;
  display: flex;
  transition: all 1s;
}
.slide div { /* スライド */
  width: 33.33%;
  height: 100%;
  font-size: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.slide1 { /* スライドさせるために必要なクラス */
  transform: translateX(0);
}
.slide2 { /* スライドさせるために必要なクラス */
  transform: translateX(-33.33%);
}
.slide3 { /* スライドさせるために必要なクラス */
  transform: translateX(-66.66%);
}
.slide div:nth-of-type(1){ /* 背景色 */
  background-color: #FCE8F0;
}
.slide div:nth-of-type(2){ /* 背景色 */
  background-color: #FCE8F0;
}
.slide div:nth-of-type(3){ /* 背景色 */
  background-color: #FCE8F0;
}
.slide img{
  max-width: 75vw;
  height: auto;
}

/* ↓ 左右のボタン */
.next {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 10px;
  bottom: 50%;
  z-index: 10;
  cursor: pointer;
  border-top: solid 3px #000;
  border-right: solid 3px #000;
  -webkit-transform: rotate(45deg) translateY(50%);
  transform: rotate(45deg) translateY(50%);
  /* transition: .1s; */
}
/* .next:hover {
  width: 40px;
  height: 40px;
} */

.prev {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 25px;
  bottom: 50%;
  z-index: 10;
  cursor: pointer;
  border-top: solid 3px #000;
  border-right: solid 3px #000;
  -webkit-transform: rotate(-135deg) translateY(-50%);
  transform: rotate(-135deg) translateY(-50%);
}
/* ↓ インジケーター */
.indicator {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  column-gap: 18px;
  z-index: -1;
  justify-content: center;
  align-items: center;
}
.indicator li {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  list-style: none;
  background-color: #fff;
  border: 2px #000 solid;
  cursor: pointer;
}
.indicator li:first-of-type {
  background-color: #000;
}

/*----------------------------------------------------*/
/*ページ遷移アニメーション
/*----------------------------------------------------*/

.anim-box.fadein.is-animated {
  animation: fadeIn 0.5s cubic-bezier(.39,.1,.83,.67) forwards;
}
 
@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  
  100% {
    opacity: 1;
  }
}
 

/*----------------------------------------------------*/
/*media Queries 767
/*----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
    overflow: hidden;
  }

  .pc-only {
    display: none;
  }
  
  /* 見出し */
  .title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .lead {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  /* ヘッダー */
  .header .container {
    padding: 15px;
  }

  .header-logo {
    font-size: 15px;
    margin-right: 15px;
  }

  /* .gnav-item:not(:last-child) {
    margin-right: 10px;
  } */

  .gnav-item a {
    font-size: 2.5em;
  }

  .gnav-item a:after {
    display: none;
  }

  /* top */
  .works-ttl {
    font-size: 5em;
  }
  /* Works */
  .works-name {
    font-size: 12px;
  }

  .works-info {
    margin-top: 3px;
  }

  /* About */
  .profile {
    display: block;
  }
  .profile-img {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .profile-body p {
    font-size: 14px;
    line-height: 1.7;
  }

  .profile-body p:not(:last-child) {
    margin-bottom: 20px;
  }

  /* フッター */
  .footer {
    padding: 20px;
  }

  /* 下層ページ */
  .article {
    padding: 50px 0;
  }

  .article-body h3 {
    font-size: 16px;
    padding-left: .8em;
  }

  .article-body h3:not(:first-child) {
    margin-top: 30px;
  }

  .article-body p {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }


}
